<div class="row">
    <div class="col-md-10">
        <a routerLink='/admin/products/new' class="btn btn-primary">New Product</a>
    </div>
    <!-- <div class="col-md-8">
        <p *ngIf="products">
            <input type="search" 
            class="form-control" 
            placeholder="Search Products"
            #query 
            (keyup.enter)='filterTable(query.value)'>
        </p>
    </div> -->
</div>

<data-table
    [items]='items'
    [itemCount]="itemCount"
    (reload)="reloadItems($event)"
>
    <data-table-column
    [property]="'title'"
    [header]="'Title'"
    [sortable]="'true'"
    [resizable]="'true'"
    >
    

    </data-table-column>

    <data-table-column
    [property]="'price'"
    [header]="'Price'"
    [sortable]="'true'"
    [resizable]="'true'"
    >
    
    <ng-template #dataTableCell let-item="item">
        {{item.price | currency:'USD':true}}
    </ng-template>
    </data-table-column>

    <data-table-column
    [property]="'$key'"
    [resizable]="true"
    >
    <ng-template #dataTableCell let-item="item">
        <a [routerLink]="['/admin/products/', + item.$key]">Edit</a>
    </ng-template>

    </data-table-column>
</data-table>
